img{
    width:100%;
    height: auto;
    display: block;
}

.imagehover {
    transition: .10s, transform .10s ease;
    -moz-transition: .10s, transform .10s ease;
    -webkit-transition: .10s, transform .10s ease;
}

.imagehover:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
}

h4 {
    color: black;
    text-underline: none;
}

h4:hover {
    text-underline: none;
}